<div class="flex items-center">
  <nav class="flex flex-col items-center fixed pin-y pin-l w-16 lg:w-36 pt-4 lg:pt-0 bg-blue text-blue-light text-left z-10">
    <div class="flex-no-shrink flex flex-col items-center text-blue-light w-full lg:hidden">
      <a href="#" class="no-underline text-blue-lighter hover:text-blue-lightest">
        <i class="far fa-bell block mb-4 text-lg"></i>
      </a>
      <a href="#" class="flex flex-col items-center no-underline hover:bg-blue-light text-blue-light hover:text-blue-lightest py-2 w-full">
        <img src="https://avatars1.githubusercontent.com/u/31863?s=460&v=4"
        class="rounded-full h-12 w-12 block mb-4" />
        <i class="fas fa-chevron-down block mb-4 text-xs"></i>
      </a>
      <div class="border-b border-blue-light w-10 h-1 -my-1"></div>
    </div>

    <div class="hidden lg:block w-full">
      <a href="#" class="absolute pin-r no-underline text-blue-lighter hover:text-blue-lightest z-40 mr-3 mt-4">
        <i class="far fa-bell block mb-4 text-lg"></i>
      </a>
      <div class="flex flex-col">
        <a href="#" class="relative block no-underline text-blue-lighter hover:text-blue-lightest hover:bg-blue-light lg:pt-4 pb-3 w-full">
          <div class="flex flex-col items-center">
            <img src="https://avatars1.githubusercontent.com/u/31863?s=460&v=4"
                 class="rounded-full h-18 w-18 mb-4" />
            <p class="text-xs mb-1">Joey</p>
            <p class="text-xs text-blue-lightest">30 Cubits</p>
          </div>
          <div class="absolute pin-r pin-b mb-4 mr-4">
            <i class="fas fa-chevron-down block text-xs"></i>
          </div>
        </a>
        <div class="border-b border-blue-light mx-3 h-1 -my-1"></div>
      </div>
    </div>

    <div class="flex flex-col w-full mt-1">
      <a href="#" class="flex justify-around flex-no-shrink no-underline text-blue-lighter hover:text-blue-lightest hover:bg-blue-light py-3 lg:pl-1">
        <i class="w-1/4 far fa-sun text-lg"></i>
        <div class="w-3/4 hidden lg:inline-block font-light text-sm text-blue-lightest">Dashboard</div>
      </a>

      <a href="#" class="flex justify-around flex-no-shrink no-underline text-blue-lighter hover:text-blue-lightest hover:bg-blue-light py-3 lg:pl-1">
        <i class="w-1/4 fas fa-leaf text-lg"></i>
        <div class="w-3/4 hidden lg:inline-block font-light text-sm text-blue-lightest">Invoices</div>
      </a>

      <a href="#" class="flex justify-around flex-no-shrink no-underline text-blue-lighter hover:text-blue-lightest hover:bg-blue-light py-3 lg:pl-1">
        <i class="w-1/4 fas fa-cloud text-lg"></i>
        <div class="w-3/4 hidden lg:inline-block font-light text-sm text-blue-lightest">Estimates</div>
      </a>

      <a href="#" class="flex justify-around flex-no-shrink relative no-underline text-blue-lightest bg-blue-light py-3 lg:pl-1">
        <i class="w-1/4 fas fa-graduation-cap text-lg"></i>
        <div class="w-3/4 hidden lg:inline-block font-light text-sm text-blue-lightest">Clients</div>
        <i class="fas fa-caret-left text-lg absolute pin-r"></i>
      </a>

      <a href="#" class="flex justify-around flex-no-shrink no-underline text-blue-lighter hover:text-blue-lightest hover:bg-blue-light py-3 lg:pl-1">
        <i class="w-1/4 fas fa-lemon text-lg"></i>
        <div class="w-3/4 hidden lg:inline-block font-light text-sm text-blue-lightest">Expenses</div>
      </a>

      <a href="#" class="flex justify-around flex-no-shrink no-underline text-blue-lighter hover:text-blue-lightest hover:bg-blue-light py-3 lg:pl-1">
        <i class="w-1/4 fas fa-flask text-lg"></i>
        <div class="w-3/4 hidden lg:inline-block font-light text-sm text-blue-lightest">Projects</div>
      </a>

      <a href="#" class="flex justify-around flex-no-shrink no-underline text-blue-lighter hover:text-blue-lightest hover:bg-blue-light py-3 lg:pl-1">
        <i class="w-1/4 fas fa-stopwatch text-lg"></i>
        <div class="w-3/4 hidden lg:inline-block font-light text-sm text-blue-lightest">Time Tracking</div>
      </a>

      <div class="fixed pin-b mb-4 w-16 lg:w-36">
        <div class="block lg:hidden border-t border-blue-light pt-4 mx-3 text-center">
          <i class="fas fa-leaf text-lg text-blue-lighter"></i>
        </div>
        <div class="hidden lg:block border-t border-blue-light pt-4 text-center mx-3">
          <img src="https://my.freshbooks.com/assets/images/freshbooks-logo-white-2eb8482914e95a386e0af5d8c0274e13.svg"
               class="w-24 opacity-50">
        </div>
      </div>
    </div>
  </nav>

  <div class="flex-1">
    <div class="ml-22 mr-4 sm:ml-36 sm:mr-16 md:ml-52 md:mr-24 lg:ml-64 lg:mr-16 pin-x pin-t fixed">
      <header class="flex items-center justify-between z-0 bg-white py-6 border-b">
        <h1 class="font-light text-3xl">
          Clients
        </h1>
        <button class="appearance-none p-4 xl:text-2xl bg-green-dark text-green-lightest hover:bg-green rounded-lg">New Client</button>
      </header>
    </div>

    <main class="mt-26 ml-22 pt-8 font-light text-center">
      <div class="flex justify-around mr-4 sm:ml-8 sm:mr-16 md:ml-16 md:mr-24 lg:ml-36 lg:mr-16 text-2xl md:text-3xl lg:text-5xl xl:text-6xl">
        <a href="#" class="flex-1 text-blue no-underline py-4 border-t-4 border-transparent hover:border-t-4 hover:border-blue-light">
          <div class="tracking-wide">$0</div>
          <div class="text-sm text-grey-dark">overdue</div>
        </a>
        <a href="#" class="flex-1 text-blue no-underline py-4 border-t-4 border-transparent hover:border-t-4 hover:border-blue-light">
          <div class="tracking-wide">$0</div>
          <div class="text-sm text-grey-dark truncate">total outstanding</div>
        </a>
        <a href="#" class="flex-1 text-blue no-underline py-4 border-t-4 border-transparent hover:border-t-4 hover:border-blue-light">
          <div class="tracking-wide">$0</div>
          <div class="text-sm text-grey-dark">in draft</div>
        </a>
      </div>

      <div class="flex flex-col mt-8 mr-4 sm:ml-10 md:ml-24 lg:ml-48 text-left">
        <h2 class="font-light text-lg mb-4">Recently Active</h2>

        <div class="flex flex-col sm:flex-row flex-wrap">
          <div class="flex-shrink sm:w-64 mb-6 sm:mr-6">
            <div class="flex flex-col">
              <a href="#" class="no-underline">
                <div class="border-t-8 border-pink-light rounded-t-lg"></div>
                <div class="border-b border-l border-r border-grey shadow-md rounded-b-lg p-4">
                  <div class="flex">
                    <div class="flex justify-center items-center text-lg border-2 border-pink-light text-pink-light rounded-full w-12 h-12 font-medium">BA</div>
                    <div class="flex flex-col ml-8 mt-1">
                      <div class="flex-1 text-black">Bud Abbott</div>
                      <div class="flex-1 text-xs text-grey mt-2">Old School Comedy</div>
                      <div class="flex-1 text-xs text-grey mt-4">
                        <i class="far fa-envelope"></i> 
                        <span>bud@abbott.com</span>
                      </div>
                      <div class="flex-1 text-xs text-grey mt-2">
                        <i class="fas fa-phone"></i> 
                        <span>111-222-3333</span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>

          <div class="flex-shrink sm:w-64 mb-6 sm:mr-6">
            <div class="flex flex-col">
              <a href="#" class="no-underline">
                <div class="border-t-8 border-purple-light rounded-t-lg"></div>
                <div class="border-b border-l border-r border-grey shadow-md rounded-b-lg p-4">
                  <div class="flex">
                    <div class="flex justify-center items-center text-lg border-2 border-purple-light text-purple-light rounded-full w-12 h-12 font-medium">LC</div>
                    <div class="flex flex-col ml-8 mt-1">
                      <div class="flex-1">Lou Costello</div>
                      <div class="flex-1 text-xs text-grey mt-2">Old School Comedy</div>
                      <div class="flex-1 text-xs text-grey mt-4">
                        <i class="far fa-envelope"></i> 
                        <span>lou@costello.com</span>
                      </div>
                      <div class="flex-1 text-xs text-grey mt-2">
                        <i class="fas fa-phone"></i> 
                        <span>444-555-6666</span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>

          <div class="flex-shrink sm:w-64 mb-6 sm:mr-6">
            <div class="flex flex-col">
              <a href="#" class="no-underline">
                <div class="border-t-8 border-blue-light rounded-t-lg"></div>
                <div class="border-b border-l border-r border-grey shadow-md rounded-b-lg p-4">
                  <div class="flex">
                    <div class="flex justify-center items-center text-lg border-2 border-blue-light text-blue-light rounded-full w-12 h-12 font-medium">TH</div>
                    <div class="flex flex-col ml-8 mt-1">
                      <div class="flex-1">Tim Hawkins</div>
                      <div class="flex-1 text-xs text-grey mt-2">New School Comedy</div>
                      <div class="flex-1 text-xs text-grey mt-4">
                        <i class="far fa-envelope"></i> 
                        <span>tim@hawkins.com</span>
                      </div>
                      <div class="flex-1 text-xs text-grey mt-2">
                        <i class="fas fa-phone"></i> 
                        <span>999-888-7777</span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
      </div>

      <div class="flex flex-col mt-6 text-center">
        <div class="flex-1">
          <button class="border-2 border-grey-light hover:bg-grey-light rounded-lg text-xs py-1 px-2 text-grey-darker">View Archived Clients</button>
        </div>
        <div class="flex-1 mt-2 text-xs text-grey-dark">
          or <a href="#" class="text-grey-dark">deleted</a>
        </div>
      </div>
    </main>
  </div>
</div>
